<div class="form-group">
  <%= f.text_field :phone_no, placeholder: "Phone No", pattern: "^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$", minlength: 3, maxlength: 15, class: "form-control form-control-lg", required: true %>
</div>